<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgOzUPQHTVqhv-negtk57ffs_c8h0pYxI</string>
	<key>GCM_SENDER_ID</key>
	<string>648480654165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Celan.YugiTraderAppInternal</string>
	<key>PROJECT_ID</key>
	<string>yugitrader-d3acb</string>
	<key>STORAGE_BUCKET</key>
	<string>yugitrader-d3acb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648480654165:ios:fd568fd241d58bcf40a5dc</string>
</dict>
</plist>